<div class="container">
    <div class="letter">F</div>
    <div class="letter">G</div>
    <div class="letter">H</div>
    <div class="letter">I</div>
    <div class="letter">J</div>
    <div class="letter">K</div>
    <div class="letter">L</div>
    <div class="letter">M</div>
    <div class="letter">N</div>
    <div class="letter">O</div>
    <div class="letter">P</div>
    <div class="letter">Q</div>
    <div class="letter">R</div>
    <div class="letter">S</div>
    <div class="letter">T</div>
    <div class="letter">U</div>
</div>