<div class="register">
    <div>
        <label for="contact-name">Name</label>
        <input type="text" [(ngModel)]="newContact.name">
    </div>
    <div>
        <label for="contact-email">Email</label>
        <input type="text" [(ngModel)]="newContact.email" name="email">
    </div>
    <div>
        <label for="contact-phone">Phone</label>
        <input type="text" [(ngModel)]="newContact.phoneNumber" name="phone">
    </div>
    <div>
        <label for="contact-image">img</label>
        <input type="text" [(ngModel)]="newContact.image" name="img">
    </div>
    <button (click)="addContact()">Submit New Contact</button>
</div>

<div class="contacts">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Image</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let contact of contacts">
            <tr class="individual">
                <td></td>
                <td><img src="{{ contact.image }}"></td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phoneNumber }}</td>
                <td>
                    <mat-icon style="cursor: pointer" (click)="deleteItem(this.contact)">delete</mat-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>