/********************* variables *********************/
/* colors */
$accent-color: #efa0b8;
$side-color: #2531b6;
$black: #202020;
$light-gray: #ddd;

/* utlities */
$box-shadow: 0 5px 10px $light-gray;
$border: 1px solid $accent-color;
$contact-image-size: 90px;

/* fonts */
$helvetica: Helvetica, sans-serif;


* {  box-sizing: border-box; }
html { font-size: 16px; }

body {
  font-family: $helvetica;
  font-size: 1rem;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }

a {
  color: $accent-color;
  text-decoration: none;

  &:hover { color: $side-color; }
}

.contact-card {
    display: grid;
    grid-template-columns: 128px auto;
    grid-template-rows: auto;


    img {
        width: $contact-image-size;
        height: $contact-image-size;
        object-fit: cover;
        border-radius: 50px;

        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    section {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

}

/****** media queries (mobile first) ******/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }
