@use "./variables" as v;

* { box-sizing: border-box; }
html { font-size: 16px; }

body {
  font-family: v.$font;
  font-size: 1rem;
  font-weight: 300;
  background-color: v.$bg-color;
}

.bg {
  width: clamp(320px, calc(100vw - calc(170px * 2)), calc(100vw - calc(170px * 2)));
  margin: 0 auto;
  border-radius: 42px;
  background: v.$bg-main;

  display: grid;
  grid-template-columns: v.$nav-width calc(100vw - 90px);
  grid-gap: 10px;

  nav { grid-row: 1 / 2; }
  div { grid-column: 2 / 3; }
}

nav {
  width: v.$nav-width;
  height: 100%;
  border-radius: 2.5rem 0 0 2.5rem;
  background: v.$white;

  @include v.flex-center(column);

  a { margin: 25px; }
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

h1, h2, h3 { 
  color: v.$accent-color;
  line-height: 1rem;
  font-weight: 600;
}

a {
  color: v.$accent-color;
  text-decoration: none;

  &:hover {
    color: v.$side-color;
  }
}

button {
  border: none;
  margin: 5px;
  padding: 5px;

  &:active {
    color: v.$side-color;
  }
}

.big-button {
  font-size: 2rem;
  border-radius: 30px;
  width: v.$button-size-l;
  height: v.$button-size-l;
}

.button-round {
  border-radius: 25px;
  width: v.$button-size;
  height: v.$button-size;
}

.accent-bg {
  color: v.$white;
  background: v.$accent-color;
}

.accent-bg-line {
  color: v.$accent-color;
  background: transparent;
  border: 2px solid v.$accent-color;

  &:active {
    border: 2px solid v.$side-color;
  }
}

.side-bg {
  color: v.$white;
  background: v.$side-color;
}


/****** media queries (mobile first) ******/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }
