/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.foto {
  width: 7vw;
  height: 7vh;
  border-radius: 50%;
  //   border: 2px solid black;
}
.contactos:hover {
  border-radius: 50rem;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.tabla {
  width: 50vw;
  margin: 80px;
  justify-self: center;
}
.modales {
  grid-column: 2;
  grid-row: 1;
  margin: 30px;
  width: 200px;
  justify-self: center;
}
#input-form {
  margin-bottom: 5px;
}
body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
